/** Bordas arredondadas **/
.round-5 {-webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}
.round-10 {-webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; border-radius: 10px !important;}
.round-12 {-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important;}
.round-15 {-webkit-border-radius: 15px !important; -moz-border-radius: 15px !important; border-radius: 15px !important;}
.round-20 {-webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;}