body {
	padding-top:60px;

    -ms-word-break: break-all;
    word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

/** Estilo do conteudo **/
.main-container{
    min-height:80vh;
}
.main-container a{
    text-decoration:none;
}

td input {display: block !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: 100% !important; border-radius: 0 !important; line-height: 1 !important;}


h1:after {
    content: ' ';
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #A348A3;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

/** Navbar divider **/
.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/* navbar icons 2x */
.navbar .navbar-brand .fa-2x{
    margin-top:-8px;
    color:#415B76;
}
.navbar .navbar-brand .fa-2x + .fa-embed-text{
    position: relative;
    left: -27px;
    bottom:12px;
    color: #fff;
    font-size: 11px;
    font-weight:bold;
}

/** Estilo do rodape **/
.footer {
    bottom: 0;
    width: 100%;
    background:black;
    color:white;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nav>li>a:hover{
    background-color:#b274b2 !important;
}

.nav>li.active>a, .nav>li>a:focus{
    background-color:#A348A3 !important;
    color: white !important;
}

.navbar-brand > img{
    margin-top: -13px;
    height:46px;
}

.navbar #profile-img{
    margin: 12px 3px 0px 0px;
    height:33px;
}

#bg-topo-home{
    background:url('//fodev-prod.s3.amazonaws.com/img/global/bg_vegetais.jpg') no-repeat center center;
    background-size:100% auto;
}


/** bootstrap-ui **/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/** tooltip **/
.tooltip > .tooltip-inner {
    text-align:left;
}

/** Default styles **/
.background-black{ background-color:black !important;}
.background-blue{ background-color:#5BC0DE !important;}
.background-blue-dark{ background-color:#22A7F0 !important;}
.background-green{ background-color:#1D9E74 !important;}
.background-orange{ background-color:#F27935 !important;}
.background-red{ background-color:#D64541 !important;}
.background-white{ background-color:white !important;}
.background-violet{ background-color:#A348A3 !important;}

/** changing hover color **/
ul.nav a:hover { background-color:#8C3E8C; color:white; }

/** Bordas arredondadas **/
.round-5 {-webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}
.round-10 {-webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; border-radius: 10px !important;}
.round-12 {-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important;}
.round-15 {-webkit-border-radius: 15px !important; -moz-border-radius: 15px !important; border-radius: 15px !important;}
.round-20 {-webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;}

/** Classe para colunas infinitas sem mudar de row **/
.col-infinite {
    margin-top: 5px !important;
}

/** Default styles **/
.text-black{ color:black;}
.text-blue{ color:#5BC0DE;}
.text-blue-dark{ color:#22A7F0;}
.text-green{ color:#1D9E74;}
.text-orange{ color:#F27935;}
.text-red{ color:#D64541;}
.text-white{ color:white;}
.text-violet{ color:#A348A3;}
.text-yellow{color: #f1c40f;}
a.text-black{ color:black;}
a.text-blue{ color:#5BC0DE;}
a.text-blue-dark{ color:#22A7F0;}
a.text-green{ color:#1D9E74;}
a.text-orange{ color:#F27935;}
a.text-red{ color:#D64541;}
a.text-white{ color:white !Important;}
a.text-violet{ color:#A348A3;}
.text-del{text-decoration: line-through;}
/** Font sizes **/
.font-20{ font-size: 20px !important;}
.font-30{ font-size: 30px !important;}
.font-35{ font-size: 35px !important;}
.font-40{ font-size: 40px !important;}
.font-50{ font-size: 50px !important;}
.font-60{ font-size: 60px !important;}
.font-100{ font-size: 100px !important;}
.font-200{ font-size: 200px !important;}

.blog-post-thumb-wrap{
    height: 350px;
}
.blog-post-thumb-wrap-sm{
    height: 250px;
}
.blog-post-thumb:hover > .blog-post-thumb-title{
    background: rgba(29, 158, 116, 0.9);
}

.blog-post-thumb-img {
    width: 100%;
    height: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-post-thumb-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blog-post-thumb-title {
    z-index: 1;
    color:white;
    font-weight:bold;
    text-align:center;
    background: rgba(29, 158, 116, 0.5);
}

/** alert **/
#alertWrapper {
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    z-index:9999;
}

/** Estilo do navegador **/
.navbar-fixed-top, .navbar-fixed-bottom{
    background: rgba(255, 255, 255, 0.9);
}

.navbar-fixed-top-admin{
    background: rgba(200, 200, 200, 0.9);
}

/** Centraliza imagens responsivas **/
.img-responsive { margin: 0 auto; }
.img-responsive.img-responsive-wide { width:100%; }

/** Padding para numero indefinido de colunas **/
.server-action-menu {
    padding: 5px;
}

/** Fix para modulo do banco do brasil **/
object[type^='application/gas-events'] { display: none; }


/** Remove o gutter do row **/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/** Simula pointer click **/
.click {
    cursor:pointer;
}
/** Simula pointer move **/
.move {
    cursor:move;
}

/** Simula pointer click no typeahead **/
.dropdown-menu li:hover {
    cursor:pointer;
}