.text-black{ color:black;}
.text-blue{ color:#5BC0DE;}
.text-blue-dark{ color:#22A7F0;}
.text-green{ color:#1D9E74;}
.text-orange{ color:#F27935;}
.text-red{ color:#D64541;}
.text-white{ color:white;}
.text-violet{ color:#A348A3;}
.text-yellow{color: #f1c40f;}
a.text-black{ color:black;}
a.text-blue{ color:#5BC0DE;}
a.text-blue-dark{ color:#22A7F0;}
a.text-green{ color:#1D9E74;}
a.text-orange{ color:#F27935;}
a.text-red{ color:#D64541;}
a.text-white{ color:white !Important;}
a.text-violet{ color:#A348A3;}
.text-del{text-decoration: line-through;}