extends ../../layout/layout.jade

block content

  h1 Seja bem vindo à 
    a(href="https://feiraorganica.com" style="text-decoration: none;") Feira Orgânica Delivery!
  
  p Seu cadastro foi realizado com sucesso!

  p No site 
    a(href="https://feiraorganica.com" style="text-decoration: none;") Feira Orgânica Delivery 
    | você encontra uma variedade de produtos orgânicos produzidos com amor e respeito a você e ao meio ambiente.

  p É muito fácil comprar na 
    a(href="https://feiraorganica.com" style="text-decoration: none;") Feira Orgânica Delivery
    | ! Basta montar sua cesta e informar os dados de entrega. Todo o pagamento é feito através do Pagseguro, de forma simples e 100% segura.
  
  p Em caso de dúvida, entre em contato conosco respondendo a este e-mail ou através do nosso  
    a(href="https://feiraorganica.com/contact" style="text-decoration: none;") site.
  
  h2 Detalhes
  
  p 
    b Nome: 
    | #{name}
  p 
    strong E-mail: 
    | #{email}