extends ../../layout/layout.jade

block content

  h1 Recuperação de senha
  
  p Uma nova senha foi gerada para você.
  
  p
    strong Nova senha: 
    | #{password}

  p Acesse a 
    a(href="http://feiraorganica.com/#/signup" style="text-decoration: none;") Área de Login 
    | e faça seu login utilizando a nova senha.
    
  p Se você não solicitou a recuperação de senha, por favor responda a este e-mail nos informando.