extends ../../layout/layout.jade

block content

  h1 Contato recebido. 
  
  p Recebemos seu contato através da 
    a(href="https://feiraorganica.com" style="text-decoration: none;") Feira Orgânica Delivery
    | e logo vamos analisá-lo e respondê-lo.
    
  p Enquanto isso, aproveite para conhecer 
    a(href="https://feiraorganica.com/feira" style="text-decoration: none;") nossos produtos orgânicos
    | e monte hoje mesmo sua cesta.
  
  h2 Detalhes
  
  p 
    b Nome: 
    | #{name}
  p 
    strong E-mail: 
    | #{email}
  p 
    strong Telefone: 
    | #{phone}
  p 
    strong Mensagem: 
    | #{msg}