<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Usuários <span ng-bind="filteredUsers.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="usuarioQuery">Buscar usuarios</label>
        		<input class="form-control input-xs" id="usuarioQuery" name="usuarioQuery" ng-model="usuarioQuery" type="text" placeholder="Buscar usuarios">
            </div>
        	<div class="form-group">
        	    <label for="order">Ordem</label>
                <select class="form-control" id="order" ng-model="selectedOrder">
                    <option value="title" selected>Título</option>
                    <option value="status">Status</option>
                    <option value="kind">Tipo</option>
                    <option value="newsletter">Newsletter</option>
                    <option value="updated">Data</option>
                </select>
        	</div>
        </form>
        
        <br>
        
        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Tipo</td>
                    <td>Newsletter</td>
                    <td>Telefone</td>
                    <td>Compras</td>
                    <td>Ultima modificação</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in filteredUsers = (users | filter: usuarioQuery | orderBy: selectedOrder)">
                    <td><a href="/usuario/{{user._id}}" ng-bind="user.name"></a></td>
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.kind"></td>
                    <td><i ng-if="user.newsletter" class="fa fa-check text-success"></i></td>
                    <td ng-bind="user.phone"></td>
                    <td ng-bind="user.orders"></td>
                    <td ng-bind="user.updated"></td>
                    <td><a href="javascript:void(0)" ng-click="dropUser(user)">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>