extends ../../layout/layout.jade

block content

  h1 Seja bem vindo à 
    a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery!
  
  p Você acaba de se cadastrar para receber nossa lista de produtos e promoções semanalmente!
  
  p * Nós respeitamos sua privacidade e em nenhuma hipóteste seu endereço de e-mail será fornecido a terceiros.
  
  p ** Nós enviaremos apenas 1 e-mail por semana.
  
  p *** A qualquer momento você poderá descadastrar-se. Basta acessar 
    a(href="https://feiraorganica.com/eu", hreflang="pt-br", style="text-decoration: none;") seus dados 
    | e desmarcar a opção "Desejo receber semanalmente a lista de produtos e promoções".

  p No site 
    a(href="https://feiraorganica.com", style="text-decoration: none;") Feira Orgânica Delivery 
    | você encontra uma variedade de produtos orgânicos produzidos com amor e respeito a você e ao meio ambiente.

  p É muito fácil comprar na 
    a(href="https://feiraorganica.com", style="text-decoration: none;") Feira Orgânica Delivery
    | ! Basta montar sua cesta e informar os dados de entrega. Todo o pagamento é feito através do Pagseguro, de forma simples e 100% segura.
  
  p Para melhorar sua experiência junto a 
    a(href="https://feiraorganica.com", style="text-decoration: none;") Feira Orgânica Delivery 
    |, nós criamos uma conta para você em nosso sistema.
  
  h2 Detalhes
  
  p 
    strong E-mail: 
    | #{email}
  p 
    b Senha: 
    | #{password}
    
  p Em caso de dúvida, entre em contato conosco respondendo a este e-mail ou através do nosso  
    a(href="https://feiraorganica.com/contato", hreflang="pt-br", style="text-decoration: none;") site.