extends ../../layout/layout.jade

block content

  h1 Olá #{name},

  p Você acaba de cancelar sua assinatura de newsletter. Agora você não receberá mais nossa lista de produtos e promoções semanalmente.
  
  p A qualquer momento você poderá cadastrar-se novamente. Basta acessar 
    a(href="https://feiraorganica.com/eu", hreflang="pt-br", style="text-decoration: none;") seus dados 
    | e marcar a opção "Desejo receber semanalmente a lista de produtos e promoções".

  p Caso não tenha sido você que efetuou a solicitação de descadastro, pedimos que nos informe respondendo a este e-mail. Assim, nossa equipe poderá verificar o ocorrido e lhe incluir novamente na lista de assinantes da newsletter.

  p Em caso de dúvida, entre em contato conosco respondendo a este e-mail ou através do nosso  
    a(href="https://feiraorganica.com/contato", hreflang="pt-br", style="text-decoration: none;") site.