<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
  <h3>Instruções para depósito</h3>
</div>
<div class="modal-body">
  
    <p>Transfira ou deposite o valor do pedido na conta abaixo e envie o comprovante de depósito para o email <a href="mailto:info@feiraorganica.com" hreflang="pt-br">info@feiraorganica.com</a> para que seu pedido seja alterado para Pago.</p>
    <p>A alteração do status do seu pedido pode levar até 6 horas.</p>
    <div class="well well-mini">
        Banco do Brasil
        <br><strong>Agência:</strong> 3185-2
        <br><strong>Conta:</strong> 24004-4
        <br><strong>Titular:</strong> BRUNO DA SILVA JOÃO
    </div>
    <p>Em caso de dúvidas, entre em contato conosco pelo email <a href="mailto:info@feiraorganica.com" hreflang="pt-br">info@feiraorganica.com</a></p>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modalOptions.close();">Fechar</button>
</div>