<div id="certification" class="row">
	<div class="col-xs-offset-1 col-xs-22">
			<h1>Certificação</h1>
			<br><br>
			<div class="col-sm-8">
				<img class="img-responsive img-rounded" ng-src="//fodev-prod.s3.amazonaws.com/img/global/selo_organico_brasil.png" resizimage="440"></img>
			</div>
			<div class="col-sm-16 text-justify">
				<div class="text-justify">
					<p>Um produto orgânico não pode ser reconhecido a olho nu e é um mito pensar que eles são menores ou mais feios.</p>
					<p>Muitas vezes, de acordo com a estação do ano e a fertilidade do solo, eles podem ser até maiores que os cultivados por métodos convencionais.</p>
					<p>O único modo de identificar um produto orgânico é através de selos das certificadoras reconhecidas pelo Ministério da Agricultura.</p>
					<p>As certificadoras fazem análises para verificar a ausência de toxidade, além de fiscalizar as propriedades onde os alimentos são produzidos. Também exigem que os produtores mantenham o compromisso social e a preservação ambiental como condições para manterem os selos.</p>
				</div>
				<p class="text-right">
					<a class="text-white" href="/blog/sobre-a-certificacao">Saiba mais...</a>
				</p>
			</div>

	</div>
</div>