<h1 class="text-center text-violet">Bem-vindos à Feira Orgânica</h1>
<h2 class="text-center text-green">Novidades estão chegando!</h2>

<div class="text-center row">
    <div class="col-sm-offset-7 col-sm-10">
        <h3 class="text-danger">Nosso serviço de delivery está temporariamente indisponível.</h3>

        <p>No dia 27/02/2015 nascia a Feira Orgânica que mais tarde recebeu o sobrenome Delivery. Esta iniciativa trazia consigo um desejo de mudança, uma vontade de tentar recuperar um pouco do que por muitos anos ficou afastado da vida dos seus fundadores: Alimentação de qualidade, cultivada corretamente e sem veneno, com preços acessíveis.
        <br>
        E esta sempre foi a meta da empresa, tornar acessíveis a todos os tipos de consumidores produtos orgânicos certificados.</p>

        <p>No decorrer dos últimos 12 meses, fizemos o possível e o impossível para manter as operações e motivações. Recebemos ajuda de clientes, amigos e familiares, sempre buscando fazer esse sonho dar certo. Mas aos poucos, fomos encontrando diversos pequenos impasses que nos fizeram parar e pensar sobre a sustentabilidade da empresa. Acabamos por descobrir que nosso modelo atual não estava dando o retorno para o qual foi projetado e que a qualidade do serviço se tornava cada vez mais comprometida. Exemplos como o veículo de entrega, o armazenamento dos produtos, o local de montagem e higienização dos alimentos, o capital de giro, foram fatores decisivos nas decisões dos sócios.</p>

        <p>No dia 05/03/2016 tomamos a decisão mais difícil até o momento. Decidimos interromper as atividades da empresa por 6 meses (podendo ser mais ou menos), para poder reestruturar tudo, desde a aquisição dos produtos até o acompanhamento dos clientes após a compra das cestas.
        <br>
        Nossa decisão foi feita com base nas nossas experiências recentes, onde o volume de vendas não compensava o esforço dedicado e a necessidade de um Capital de Giro elevado tornava cada vez mais difícil o aumento das vendas. Assim, a Feira Orgânica volta um pouco em sua trajetória para fortalecer seus pilares em busca de estrutura para uma nova etapa da empresa, onde o volume de vendas poderá ser levado ao ideal, sustentavelmente.</p>

        <p>Ficamos extremamente tristes com o fato mas também orgulhosos por ter conseguido fazer do sonho realidade e ter aprendido tanto em tão pouco tempo.</p>

        <p>Gostaríamos de agradecer a todos pelo apoio, críticas e compras e dizer que nosso sonho não termina aqui e que voltaremos com uma empresa muito melhor.</p>

        <p>Você é um investidor e gostaria de saber mais sobre os planos da Feira Orgânica? 
        <br>
        Entre em contato conosco através do email <a href="mailto:info@feiraorganica.com">info@feiraorganica.com</a></p>

        <p>A Equipe Feira Orgânica Delivery</p>
    </div>
</div>