<div class="row no-gutter background-white" id="bg-topo-home">
	<div class="col-xs-offset-4 col-xs-16 col-sm-offset-5 col-sm-14 col-md-offset-6 col-md-12">

		<img class="img-responsive img-centered img-responsive-wide" ng-src="//fodev-prod.s3.amazonaws.com/img/global/marca.png">
		<br><br class="hidden-xs hidden-sm">
		<p class="text-center">
			<a href="/feira"  hreflang="pt-br" class="btn btn-primary">
				<span class="visible-xs-inline">
					Montar minha cesta orgânica
				</span>
				<span class="visible-sm-inline font-30">
					Montar minha cesta orgânica
				</span>
				<span class="visible-md-inline font-40">
					Montar minha cesta orgânica
				</span>
				<span class="visible-lg-inline font-40">
					Montar minha cesta orgânica
				</span>
			</a>			
		</p>
		<br><br class="hidden-xs hidden-sm">
	</div>
</div>

<div id="como-funciona" class="row background-green text-white">
	<div class="col-xs-24">

		<h2 class="text-center">Como funciona</h2>
		<br>

		<div class="row">
			<div class="col-sm-8 text-center">
				<h3 class="text-yellow"><a class="text-yellow" hreflang="pt-br" href="/montar_cesta">1 - Monte sua cesta.</a></h3>
				<p>Em nossa feira você encontra somente produtos que foram produzidos com muito amor e respeito a você e ao meio ambiente.</p>
				<i class="fa fa-shopping-cart font-200"></i>
			</div>
			<div class="col-sm-8 text-center">
				<h3 class="text-yellow">2 - Efetue o pagamento.</h3>
				<p>Compra 100% segura! Você escolhe a melhor forma de pagar. Aceitamos cartões de crédito e débito, transferência e boleto bancário.</p>
				<i class="fa fa-credit-card font-200"></i>
			</div>
			<div class="col-sm-8 text-center">
				<h3 class="text-yellow">3 - Receba o produto.</h3>
				<p>Fazemos o que chamamos de Entrega Inteligente. Muita logística, menor custo, baixa emissão de carbono e horários alternativos.</p>
				<i class="fa fa-truck fa-flip-horizontal font-200"></i>
			</div>
		</div>

		<br></br>

		<p class="text-right"><a class="text-white" href="/blog/termos" hreflang="pt-br">Saiba mais aqui...</a></p>

		<br>
	</div>
</div>

<div class="row ng-cloak">
	<div class="col-xs-24">

		<h2 class="text-center">Destaques da semana</h2>
		<br><br>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in highlightProducts">


				<div class="thumbnail">
					<a href="/feira/{{product.encoded_url}}" hreflang="pt-br">
						<img class="img-responsive img-responsive-wide img-centered" alt="{{::product.name}}" ng-src="{{product.images[0].url}}" ng-dblclick="basketService.addToBasket(product)" resizimage="200">
					</a>
					<hr>
					<div style="height:100px;">
						<p>
							<span class="text-success" ng-bind="product.prices[0].price | currency:'R$':2"></span> 
							<span ng-if="product.prices[1].price > product.prices[0].price">
								<i class="fa fa-arrow-down text-success"></i> 
								<del><small class="text-muted text-danger" ng-bind="product.prices[1].price | currency:'R$':2"></small></del>
							</span>
						</p>
						<h4 class="text-violet"><a href="/feira/{{product.encoded_url}}" ng-bind="product.name" hreflang="pt-br"></a></h4>
					</div>

					<button class="btn btn-success btn-block" ng-click="basketService.addToBasket(product)">Colocar na cesta 
						<span class="label label-warning" ng-bind="(basketService.getProducts() | filter : {_id: product._id})[0].quantity"></span>
					</button>

				</div>


			</div>
			<div class="col-xs-24" ng-if="!highlightProducts.length">Nesta semana não temos nenhum produto em destaque!
				<br></br>
			</div>
		</div>

		<br>
		<p class="text-center">
			<a href="/feira" class="btn btn-primary btn-lg" hreflang="pt-br">
				<span class="visible-xs-inline">
					Ver todos os produtos
				</span>
				<span class="visible-sm-inline font-30">
					Ver todos os produtos
				</span>
				<span class="visible-md-inline font-40">
					Ver todos os produtos
				</span>
				<span class="visible-lg-inline font-40">
					Ver todos os produtos
				</span>
			</a>
		</p>
		<br>

	</div>
</div>

</div>

<div class="container-fluid background-blue text-white text-center" ng-if="!$storage.user.token">

	<h2>Receba semanalmente nossa lista de produtos e preços.</h2>

	<br>

	<div class="row">

		<div class="col-xs-24 col-sm-offset-2 col-sm-20 col-md-offset-4 col-md-16 col-lg-offset-5 col-lg-14">

			<form class="form" role="form" class="lead_form" ng-submit="signupToNewsletter()">
				<div class="input-group input-group-lg">
					<input type="email" class="form-control" name="email" placeholder="Informe seu e-mail" ng-model="signupToNewsletter.mail" />
					<span class="input-group-btn">
						<button type="submit" id="filter" class="btn btn-primary btn-block">Enviar</button>
					</span>
				</div>
			</form>

			<p class="text-left">
				* A Feira Orgânica Delivery respeita sua privacidade e em nenhuma hipóteste seu endereço de e-mail será fornecido a terceiros.
				<br>
				** A Feira Orgânica Delivery enviará apenas 1 e-mail por semana.
				<br>
				*** A qualquer momento você poderá descadastrar-se. Basta clicar no link que existe no rodapé de qualquer e-mail enviado pela Feira Orgânica ou acessar <a href="/eu" hreflang="pt-br">seus dados</a> e desmarcar a opção "Desejo receber semanalmente a lista de produtos e promoções".
			</p>


		</div>			

	</div>

</div>

