<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Tickets <span ng-bind="filteredTickets.length"></span></h1>

        <form class="form-inline text-right">
            <div class="form-group">
        		<input class="form-control input-xs" id="orderQuery" name="orderQuery" ng-model="orderQuery" type="text" placeholder="Buscar pedido">
            </div>
        	<div class="form-group">
                <select class="form-control" id="order" ng-model="selectedOrder">
                    <option value="email">Nome</option>
                    <option value="kind">Tipo</option>
                    <option value="phone">Telefone</option>
                    <option value="msg">Mensagem</option>
                    <option value="updated" selected>Data</option>
                </select>
        	</div>
        </form>
        
        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Tipo</td>
                    <td>Telefone</td>
                    <td>Mensagem</td>
                    <td>Data</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in filteredTickets = ( tickets | orderBy: selectedOrder:true )">
                    <td><a href="/ticket/{{ticket._id}}" ng-bind="ticket._id"></a></td>
                    <td><a ng-bind="ticket.customer.name" ng-href="/usuario/{{ticket.customer._id}}"></a></td>
                    <td ng-bind="ticket.customer.email"></td>
                    <td ng-bind="ticket.kind"></td>
                    <td ng-bind="ticket.customer.phone"></td>
                    <td><span ng-bind="ticket.msg | limitTo: 150"></span><span ng-if="article.content.length > 150">...</span></td>
                    <td ng-bind="ticket.updated | date:'dd/MM/yyyy HH:mm'"></td>
                    <td>x</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>