<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Países <span ng-bind="filteredCountries.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="countryQuery">Buscar países</label>
        		<input class="form-control input-xs" id="countryQuery" name="countryQuery" ng-model="countryQuery" type="text" placeholder="Buscar categorias">
            </div>
            <a class="btn btn-default" href="/country">+</a>
        </form>
        
        <br>

        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in filteredCountries = (countries | filter: countryQuery | orderBy: selectedOrder)">
                    <td><a href="/country/{{country._id}}" ng-bind="country.name || '???'"></a></td>
                    <td><a href="javascript:void(0)" ng-click="dropCountry(country)">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>