<div class="row">
    <div class="col-sm-offset-3 col-sm-18">
        
        <h1>Dados da categoria <span class="text-violet" ng-bind="category.name"></span></h1>
        
        <form class="form" role="form" ng-submit="categoryFormSubmit()">
            <div class="form-group">
                <label for="name">Título</label>
                <input class="form-control" type="text" name="name" id="name" ng-model="category.name"/>
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input class="form-control" type="text" name="slug" id="slug" ng-model="category.slug"/>
            </div>
            <div class="inline-checkbox">
                <label>
                    <input type="checkbox" name="category.forUseInBlog" ng-model="category.forUseInBlog"> Blog
                </label>
                <label>
                    <input type="checkbox" name="category.forUseInProduct" ng-model="category.forUseInProduct"> Produto
                </label>
            </div>
            <div ng-if="category.subcategories.length">
                <h4>Subcategorias</h4>
                <div class="row" ng-repeat="(index, subcategory) in category.subcategories">
                    <div class="form-group col-sm-9">
                        <input class="form-control" type="text" name="subcat-index-{{index}}" id="subcat-index-{{index}}" ng-model="subcategory.name" placeholder="nome ex. (My subcategory name)"/>
                    </div>
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="text" name="subcat-slug-{{index}}" id="subcat-slug-{{index}}" ng-model="subcategory.slug" placeholder="endereço da sub-categoria."/>
                    </div>
                    <div class="btn-group col-sm-3">
                        <label class="btn btn-primary" ng-model="subcategory.forUseInBlog" ng-click="subcategory.forUseInBlog = !subcategory.forUseInBlog;" ng-class="subcategory.forUseInBlog ? 'active' : ''">Blog</label>
                        <label class="btn btn-primary" ng-model="subcategory.forUseInProduct" ng-click="subcategory.forUseInProduct = !subcategory.forUseInProduct;" ng-class="subcategory.forUseInProduct ? 'active' : ''">Produto
                    </div>
                    <div class="form-group col-sm-2">
                        <button type="button" class="btn btn-info fa fa-close" ng-click="removeSubCategory(subcategory)"></button>
                        <button ng-if="subcategory._id" type="button" class="btn btn-danger fa fa-trash" ng-click="deleteSubCategory(subcategory)"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="processingCategoryUpdate">Salvar</button>
                <button type="button" class="btn btn-success" ng-if="!category.parent" ng-click="addSubCategory()">Adicionar sub-categoria</button>
                <button type="button" class="btn btn-danger" ng-click="dropCategory()">Excluir categoria</button>
            </div>
        </form>
        
    </div>
</div>