// Font weights
$light: 100;
$regular: 400;
$bold: 600;

/* DARKEN LEVELS */
$base-little-darken: 10%;
$base-medium-darken: 30%;
$base-strong-darken: 50%;

/* LIGHTEN LEVELS */
$base-little-lighten: 10%;
$base-medium-lighten: 30%;
$base-strong-lighten: 50%;

/* BACKGROUND COLORS */
$base-bg-color-black: black;
$base-bg-color-blue: #5BC0DE;
$base-bg-color-green: #1D9E74;
$base-bg-color-orange: #F27935;
$base-bg-color-red: #D64541;
$base-bg-color-white: white;
$base-bg-color-violet: #A348A3;
$base-bg-color-yellow: #f1c40f;

/* TEXT COLORS */
$base-txt-color-black: black;
$base-txt-color-blue: #5BC0DE;
$base-txt-color-green: #1D9E74;
$base-txt-color-orange: #F27935;
$base-txt-color-red: #D64541;
$base-txt-color-white: white;
$base-txt-color-violet: #A348A3;
$base-txt-color-yellow: #f1c40f;