<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Cantinho da Amora</h1>
        <div class="row">
            <div class="col-sm-8">
                <h3>Marketing</h3>
                <p><a class="text-violet" href="/artigos">Artigos</a></p>
                <p><a class="text-violet" href="/categories">Categorias</a></p>
                <p><a class="text-violet" href="/grupos">Grupos</a></p>
                <p><a class="text-violet" href="/newsletters">Newsletters</a></p>
                <p><a class="text-violet" href="/tickets">Tickets</a></p>
                <p><a class="text-violet" href="/usuarios">Usuários</a></p>                
            </div>
            <div class="col-sm-8">
                <h3>Vendas</h3>
                <p><a class="text-violet" href="/fornecedores">Fornecedores</a></p>
                <p><a class="text-violet" href="/promocodes">Códigos promocionais</a></p>
                <p><a class="text-violet" href="/discounts">Descontos</a></p>
                <p><a class="text-violet" href="/orderSteps">Etapas dos pedidos</a></p>
                <p><a class="text-violet" href="/shipping/options">Opções de frete</a></p>
                <p><a class="text-violet" href="/pedidos">Pedidos</a></p>
                <p><a class="text-violet" href="/produtos">Produtos</a></p>
                <p><a class="text-violet" href="/promotions">Promoções</a></p>
                <p><a class="text-violet" href="/refounds">Reembolso</a></p>
            </div>
            <div class="col-sm-8">
                <h3>Recursos</h3>
                <p><a class="text-violet" href="/storeConfigs">Configurações da Loja</a></p>
                <p><a class="text-violet" href="javascript:void(0)" ng-click="filesService.manageAppFiles('images')">Arquivos</a></p>
                <p><a class="text-violet" href="/cities">Cidades</a></p>
                <p><a class="text-violet" href="/packings">Embalagens</a></p>
                <p><a class="text-violet" href="/states">Estados</a></p>
                <p><a class="text-violet" href="/countries">Países</a></p>
                <div class="col-sm-8">
            </div>
        </div>
    </div>
</div>