<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Cidades <span ng-bind="filteredCities.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="cityQuery">Buscar categorias</label>
        		<input class="form-control input-xs" id="cityQuery" name="cityQuery" ng-model="cityQuery" type="text" placeholder="Buscar categorias">
            </div>
            <a class="btn btn-default" href="/city">+</a>
        </form>
        
        <br>

        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>nome</td>
                    <td align="right">Preço frete</td>
                    <td>Ativa</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="city in filteredCities = (cities | filter: cityQuery | orderBy: selectedOrder)">
                    <td><a href="/city/{{city._id}}" ng-bind="city.name || '???'"></a></td>
                    <td align="right" ng-bind="city.shipping_price | currency:'R$':2"></td>
                    <td><i class="fa" ng-class="city.active ? 'fa-check text-success' : 'fa-close text-danger'"></i></td>
                    <td><a href="javascript:void(0)" ng-click="dropCity(city)">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>