doctype html
html(lang="pt-br")
    head
        title Feira Orgânica Delivery

    body(style="background-color:#FFFFFF;")

    table(width='100%', style='background-color:#FFFFFF;')
        tr
            td
                table(width='600', align='center')
                    tr
                        td
                            table(width='600', style='background-color:#0079BF;')
                                tr
                                    td(width='600', align='center')
                                        a(href='https://feiraorganica.com', hreflang="pt-br", style='color:white; text-decoration:none; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold') Feira Org&acirc;nica Delivery
                            table(width='600', style='background-color:#F0F0F0;')
                                tr
                                    td(width='15')
                                        img(src='https://s3-sa-east-1.amazonaws.com/fodev/img/email/pixeltransparent.png', width='15', height='1')
                                    td(width='570')
                                        block content
                                        p 
                                            small Para garantir que nossos comunicados cheguem em sua caixa de entrada, adicione o e-mail 
                                            a(href="mailto:info@feiraorganica.com.br" style="color:#0079BF;") info@feiraorganica.com.br 
                                            | 
                                            small ao seu catálogo de endereços.
                                    td(width='15')
                                        img(src='https://s3-sa-east-1.amazonaws.com/fodev/img/email/pixeltransparent.png', width='15', height='1')
                            table(width='600', style='background-color:#0079BF;')
                                tr
                                    td(width='600', align='center')
                                        a(href='https://feiraorganica.com', hreflang="pt-br", style='color:white; text-decoration:none; font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; font-weight: bold') A Feira Org&acirc;nica Delivery agradece sua confian&ccedil;a!