doctype html
html(lang="en")
    head
        title Default title
        style
          include style.css

    body(style="background-color:#F0F0F0;")

        #head(style="font-size:30px; text-align:center; background-color:#0079BF; color:white; margin:0; padding: 10px 15px;")
            a(href="https://feiraorganica.com" style="color:white; text-decoration: none;") Feira Orgânica Delivery

        #content(style="padding: 10px 15px;")
            block content
            small Para garantir que nossos comunicados cheguem em sua caixa de entrada, adicione o e-mail 
            a(href="mailto:info@feiraorganica.com.br" style="color:#0079BF;") info@feiraorganica.com.br 
            | ao seu catálogo de endereços.

        #foot(style="font-size:20px; text-align:center; background-color:#0079BF; color:white; margin:0; padding: 10px 15px;")
            a(href="https://feiraorganica.com" style="color:white; text-decoration: none;") A Feira Orgânica Delivery agradece sua confiança!