extends ../../layout/layout.jade

block content

  h1 Bem vindo. 
  
  p 
  
  h2 Detalhes
  
  p 
    b Nome: 
    | #{name}
  p 
    strong E-mail: 
    | #{email}
  p 
    strong Telefone: 
    | #{phone}
  p 
    strong Mensagem: 
    | #{msg}