extends ../../layout/layout.jade

block content

  h1 Contato recebido. 
  
  p Recebemos seu contato através da Feira Orgânica Delivery e logo vamos analisá-lo e respondê-lo.
  
  h2 Detalhes
  
  p 
    b Nome: 
    | #{name}
  p 
    strong E-mail: 
    | #{email}
  p 
    strong Telefone: 
    | #{phone}
  p 
    strong Mensagem: 
    | #{msg}