<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        
        <h1>Artigos <span ng-bind="filteredArticles.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
        		<input class="form-control input-xs" id="orderQuery" name="orderQuery" ng-model="orderQuery" type="text" placeholder="Buscar artigo">
            </div>
            <a class="btn btn-default" href="/artigo">+</a>
        </form>
        
        <br><br>
    
        <table class="table table-condensed table-stripped table-hover small">
            <thead>
                <tr>
                    <td class="click" ng-click="orderByField='title'; reverseSort = !reverseSort">Título</td>
                    <td class="click" ng-click="orderByField='visits.length'; reverseSort = !reverseSort">Visualizações</td>
                    <td class="click" ng-click="orderByField='slug'; reverseSort = !reverseSort">Slug</td>
                    <td class="click" ng-click="orderByField='active'; reverseSort = !reverseSort">Ativo</td>
                    <td class="click" ng-click="orderByField='highlight'; reverseSort = !reverseSort">Destaque</td>
                    <td class="click" ng-click="orderByField='categories'; reverseSort = !reverseSort">Categorias</td>
                    <td class="click" ng-click="orderByField='updated'; reverseSort = !reverseSort">Modificado</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in filteredArticles = (articles | filter: orderQuery | orderBy:orderByField:reverseSort)">
                    <td><a href="/artigo/{{article._id}}" ng-bind="article.title" title="{{article.title}}"></a></td>
                    <td ng-bind="article.visits.length"></td>
                    <td ng-bind="article.slug"></td>
                    <td class="text-info"><i ng-class="article.active ? 'fa fa-check' : ''"></i></td>
                    <td class="text-warning"><i ng-class="article.highlight ? 'fa fa-star' : ''"></i></td>
                    <td><span class="badge badge-info" ng-repeat="category in article.categories" ng-bind="category.name"></span></td>
                    <td ng-bind="article.updated | date:'dd/MM/yyyy'"></td>
                    <td><a ng-click="dropArticle(article)" href="javascrip:void(0)">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>