.background-black       { background-color: $base-bg-color-black !important; }
.background-black-dark  { background-color: darken( $base-bg-color-black, $base-little-darken ) !important; }
.background-blue        { background-color: $base-bg-color-blue !important; }
.background-blue-dark   { background-color: darken( $base-bg-color-blue, $base-little-darken ) !important; }
.background-green       { background-color: $base-bg-color-green !important; }
.background-green-dark  { background-color: darken( $base-bg-color-green, $base-little-darken ) !important; }
.background-orange      { background-color: $base-bg-color-orange !important; }
.background-orange-dark { background-color: darken( $base-bg-color-orange, $base-little-darken ) !important; }
.background-red         { background-color: $base-bg-color-red !important; }
.background-red-dark    { background-color: darken( $base-bg-color-red, $base-little-darken ) !important; }
.background-white       { background-color: $base-bg-color-white !important; }
.background-white-dark  { background-color: darken( $base-bg-color-white, $base-little-darken ) !important; }
.background-violet      { background-color: $base-bg-color-violet !important; }
.background-violet-dark { background-color: darken( $base-bg-color-violet, $base-little-darken ) !important; }