/** Estilo do navegador **/
.navbar-fixed-top, .navbar-fixed-bottom{
    background: transparentize($base-bg-color-white, 0.9);
}

.navbar-fixed-top-admin{
    background: transparentize($base-bg-color-yellow, 0.9);
}

.navbar-brand > img{
    margin-top: -13px;
    height:46px;
}

.navbar, .navbar-inverse {

    #profile-img{
        margin: 12px 3px 0px 0px;
        height: 33px;
    }

    /** Navbar divider **/
    .divider-vertical {
        height: 50px;
        margin: 0 9px;
        border-right-color: #222222;
        border-left-color: #111111;
    }

    .navbar-brand {
        .fa-2x{
            margin-top:-8px;
            color:#415B76;
            /* navbar icons 2x */
            & + .fa-embed-text{
                position: relative;
                left: -27px;
                bottom:12px;
                color: #fff;
                font-size: 11px;
                font-weight:bold;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        .nav {
            & > .divider-vertical {
                display: none;
            }
        }
    }
}